<div class="container mt-3 shadow p-0 bg-white rounded">
  <div class="bg-gradient-light bg-primary p-3 border-bottom">
    <h1 class="my-3 py-3">Bitchin mixes to get ya fixes
      <%= link_to cocktails_new_path do %>
        <%= fa_icon "plus", class: "p-1 text-dark" %>
      <% end %>
    </h1>
  </div>
  <div class="container">
    <div class="row mt-3">
      <% @cocktails.each do |cocktail| %>
        <div class="col-4">
          <div class="card shadow-sm p-3 mb-5 bg-white rounded">
            <div class="d-flex justify-content-between">
              <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-dark" %></h3>
              <div class="">
                <%= link_to cocktail_path(cocktail) do %>
                  <%= fa_icon "pencil", class: "p-1" %>
                <% end %>
                <%= link_to cocktail_path(cocktail), method: "delete" do %>
                  <%= fa_icon "trash", class: "p-1" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
