<div class="container mt-3 shadow p-0 bg-white rounded">
  <div class="bg-gradient-light bg-primary p-3 border-bottom">
    <div class="d-flex justify-content-between">
      <h1 class="m-3 py-3">Bitchin mixes to get ya fixes</h1>
      <div class="mr-3">
        <%= render partial: "form" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-3">
      <% @cocktails.each do |cocktail| %>
        <div class="col-4">
          <div class="card cocktail shadow-sm p-3 mb-5 bg-white rounded" style="background-image: url(<%= cl_image_path cocktail.photo.key, crop: :fill %>); background-size: 100%; background-repeat: no-repeat; background-position: 0 -64px">
            <div class="d-flex justify-content-between">
              <h3><%= link_to cocktail.name, cocktail_path(cocktail), class: "text-light card-text" %></h3>
              <div class="">
                <h4>
                  <%= link_to cocktail_path(cocktail) do %>
                    <%= fa_icon "pencil", class: "p-1" %>
                  <% end %>
                  <%= link_to cocktail_path(cocktail), method: "delete" do %>
                    <%= fa_icon "trash", class: "p-1" %>
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
